:root {
    /* Global colors */
    --site-color: #268bd2;
    --site-color-hover: #2aa198;
    --site-color-visited: #6c71c4;
    --site-color-visited-hover: #d33682;
    --code-color: #6272a4;
}
@media (prefers-color-scheme: light) {
    :root {
        /* Light theme or no preference colors */
        --color: #43555a;
        --color-2: #697a80;
        --secondary-color: #3D3846;
        --background-color: #fbf1c7;
        --background-2-color: #ebdbb2;
        --background-3-color: #e2d1a7;
        --background-header-color: #d5c4a1;
        --background-color-background: #fdf6da;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        /* Dark theme only colors */
        --color: #93a1a1;
        --color-2: #89a8a8;
        --secondary-color: #3e4f55;
        --background-2-color: #08313a;
        --background-color: #10434f;
        --background-header-color: #002b36;
    }
}