td,th,tr,table {
    padding: 10px;
    border-bottom: 1px dotted var(--secondary-color);
    border-collapse: collapse;
}
th {
    background-color: var(--background-color);
    border-radius: 1em;
}
td:nth-child(1) {
    text-align: center;
}
td:nth-child(2) {
    width: 100%;
  }
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip > a > img {
    filter: drop-shadow(0 0 8px var(--secondary-color));
    max-width: 64px;
    max-height: auto;
}
.tooltip > a > img:hover {
    opacity: 0.75;
    transition: opacity 0.2s;
}
.tooltip .tooltip-text {
    visibility: hidden;
    width: 400px;
    background-color: var(--background-color);
    text-align: center;
    border-radius: 8px;
    padding: 8px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -120px;

    /* Fade in the tooltip */
    opacity: 0;
    transition: opacity 1.40s;

    box-shadow: 0 0 8px var(--secondary-color);
}
.tooltip-text {
    font-size: 16px;
    line-height: 1.6;
}
.tooltip-text p {
    background-color: var(--content-background-color);
    padding: 6px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
.tooltip-text > .software-name > p {
    width: 45%;
    display: inline;
    border-radius: 5px;
    float: left;
    font-weight: bold;
    margin-bottom: -5px;
}
.tooltip-text > .software-license > p {
    width: 45%;
    display: inline;
    border-radius: 5px;
    float: right;
    margin-bottom: -5px;
}
.tooltip-text > .software-avail > p {
    display: inline-block;
    border-radius: 5px;
    margin-bottom: -5px;
    width: 95%;
    
}
.tooltip-text > .software-avail > p > img {
    float: left;
    width: 32px;  /* set the width to 50 pixels */
    height: auto; /* maintain the aspect ratio */
}
.tooltip-text > .software-desc > p {
    clear: both;
    border-radius: 10px;
    font-style: italic;
}

/* START Software Licenses */
.foss::after {
    content: "FOSS";
}
    .foss:hover {
        font-style: italic;
        color: var(--color-2);
    }
    .mpl2:hover::after {
        content: "MPL v2.0";
    }
    .bsd3:hover::after {
        content: "BSD 3 Clause";
    }
    .gpl2:hover::after {
        content: "GNU GPL v2";
    }
    .glpl3:hover::after {
        content: "GNU Lesser GPL v3";
    }
    .gpl3:hover::after {
        content: "GNU GPL v3";
    }
    .agpl3:hover::after {
        content: "GNU Affero GPL v3";
    }
    .mit:hover::after {
        content: "MIT License";
    }

.free::after {
    content: "Freeware";
}
    .hprop:hover::after {
        content: "Has proprietary parts";
        font-style: italic;
    }
/* END Software Licenses */