@import url(/css/colors.css);
@import url(/css/navbar.css);
@import url(https://fonts.bunny.net/css?family=imprima:400|itim:400);

:root {
    /* Global colors */
    --code-color: #6272a4;
    --text-color: #000000;
    --background-color: #ecf2f3;
    --page-color: #fff;
    --shadow-color: rgba(35, 35, 35, 0.25);

    --navbar-button-color: #f3f6fc;
    --navbar-button-hover-color: #e5e7eb;

    --site-color: #0f9fec;
    --site-color-hover: #1939c5;
    --site-color-visited: #dd3ce5;
    --site-color-visited-hover: #5f0e78;
}

@media (prefers-color-scheme: dark) {
    :root {
        --code-color: #6272a4;
        --text-color: #ffffff;
        --background-color: #191a1b;
        --page-color: #353737;
        --shadow-color: rgba(117, 117, 117, 0.25);

        --navbar-button-color: #3b3d41;
        --navbar-button-hover-color: #505256;

        --site-color: #9edafa;
        --site-color-hover: #7287e5;
        --site-color-visited: #f7a5fb;
        --site-color-visited-hover: #8a499e;
    }
}

* {
    color: var(--text-color);
    font-family: "Imprima", sans-serif;
}

html {
    background-color: var(--background-color);
}

#title>h1 {
    padding-top: 0.25em;
    text-align: center;
    font-size: 3em;
    font-weight: normal;
}

/* Body */
body {
    line-height: 1.4;
    font-size: 18px;
}

main {
    border-radius: 1em;
    background-color: var(--page-color);
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 0 1px 1px var(--shadow-color);
}

h1,
h2 {
    font-family: 'Itim';
}

/* Main */
main>h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    padding-bottom: 0.2em;
}

h2>a,
h2>a:visited,
h2>a:hover,
h2>a:visited:hover,
h3>a,
h3>a:visited,
h3>a:hover,
h3>a:visited:hover {
    text-decoration: none;
    color: var(--color);
}

code {
    color: var(--code-color);
}

a {
    color: var(--site-color);
}

a:hover {
    color: var(--site-color-hover);
}

a:visited {
    color: var(--site-color-visited);
}

a:visited:hover {
    color: var(--site-color-visited-hover);
}

#posts th,
#posts td {
    padding: 0.3em;
    text-align: left;
}