:root {
        /* Light theme only colors */
        --color: #586e75;
        --secondary-color: #3D3846;
        --background-color: #f4f0e6;
        --background-color: #eee8d5;
        --background-header-color: #d8cda9;

        /* Global colors */
        --site-color: #268bd2;
        --site-color-hover: #2aa198;
        --site-color-visited: #6c71c4;
        --site-color-visited-hover: #d33682;
        --code-color: #6272a4;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Dark theme only colors */
        --color: #93a1a1;
        --secondary-color: #657b83;
        --background-color-lighter: #153a43;
        --background-color: #073642;
        --background-header-color: #002b36;
    }
}

* {
    color: var(--color);
    font-family: sans-serif;
}

/* Body */
body {
    
    background-color: var(--background-color);
    line-height: 1.6;
    margin: auto;
    font-size: 18px;
    /* Half of 1920px (1080p) is 960px */
    max-width: 960px;
}

    header > #links {
        background-color: var(--background-header-color);
        border-radius: 10px;
        padding: 2px 10px;
        text-align: center;
    }
    header > #links a {
        text-decoration: none;
    }
    header > #links p {
        font-size: 22px;
        background-color: var(--background-color);
        border-radius: 10px;
        display: inline-block;
        padding: 10px;
    }
    header > #links p:hover {
        background-color: var(--background-color-lighter);
    }
    header > #links #active {
        background-color: var(--background-color-lighter);
    }
    header > #date p {
        font-style:oblique;
        font-size: 14px;
    }

    /* Main */
    main {
        margin:1em;
        padding-bottom: 180px;
        overflow: auto;
    }

    /* Footer */
    footer {
        padding: 1em;
        border-top:1px solid white;
    }

        footer a {
            font-family: "Cascadia Mono", monospace;
        }

code {
    font-family: "IBM Plex Mono";
    background-color: #1d1f2b;
    color: var(--code-color);
}

strong {
    color: var(--bold-color);
}
a {
    color: var(--site-color);
}
a:hover {
    color: var(--site-color-hover);
}
a:visited {
    color: var(--site-color-visited);
}
a:visited:hover {
    color: var(--site-color-visited-hover);
}
#title:hover {
    color: var(--primary-color);
    background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: 5000ms ease;
}
#homelink {
    float:right;
    font-size:14px;
}
main h2 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
#posts th, #posts td {
    padding: 0.3em;
    text-align: left;
}
.secondary {
    color: var(--secondary-color)
}
details > summary {
    cursor: pointer;
}
details > summary:hover {
    color: rgb(226, 167, 255);
}
details > p {
    font-style:italic;
}
