:root {
    --navbar-button-color: #272a32;
    --navbar-button-hover-color: #442c5c;
}
#links {
    background: linear-gradient(
        90deg,
        rgb(164, 0, 0) 0%,
        rgb(164, 98, 0) 10%,
        rgb(164, 175, 2) 20%,
        rgb(21, 156, 16) 30%,
        rgb(25, 168, 166) 40%,
        rgb(16, 121, 137) 50%,
        rgb(13, 78, 152) 60%,
        rgb(49, 11, 125) 70%,
        rgb(93, 6, 124) 80%,
        rgb(152, 16, 134) 90%,
        rgb(132, 15, 15) 100%
    );
    padding-top: 5px;
    border-bottom: 3px solid #202227;
}
#links a {
    font-family: monospace;
}
#links li {
    background-color: var(--navbar-button-color);
    display: inline-block;
    padding: 0.3em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
#links li:hover {
    background-color: var(--navbar-button-hover-color);
    transition: background-color 0.4s linear;
}
#links #active {
    background-color: var(--navbar-button-active-color);
}
#date li {
    font-style: oblique;
    font-size: 14px;
}
#title > h1 {
    font-family: monospace;
}
