---
import SubpageLayout from '../../layouts/SubpageLayout.astro';
---

<SubpageLayout
  description="list of media that i have seen"
  heading="Movie/TV List"
  lastUpdated="2026-06-15"
>
  <p>Please note that the websites that track my media get updated much more than this page here. I treat this as more of a backup.</p>
  
  <h2>Movies</h2>

  <p>
    Also check my <a href="https://letterboxd.com/geckronome/">Letterboxd</a>.
  </p>

  <ul>
    <li class="recommended">007: Casino Royale</li>
    <li>007: GoldenEye</li>
    <li class="recommended">The Addams Family 1</li>
    <li>The Addams Family 2: Values</li>
    <li>American Psycho</li>
    <li>Batman Begins</li>
    <li>Borat: Culutural Learnings of America</li>
    <li class="recommended">Borat: Subsequent Moviefilm</li>
    <li>Charlie and the Chocolate Factory</li>
    <li>Cloudy with a Chance of Meatballs</li>
    <li class="recommended">Conclave</li>
    <li class="recommended">Coraline</li>
    <li>Crazy Rich Asians</li>
    <li class="recommended">The Dark Knight</li>
    <li>The Dark Knight Rises</li>
    <li>Despicable Me 1</li>
    <li>Despicable Me 2</li>
    <li>Despicable Me 3</li>
    <li class="recommended">The Devil Wears Prada 1</li>
    <li>The Devil Wears Prada 2</li>
    <li>The Dictator</li>
    <li>Divergent</li>
    <li>Divergent 2: Insurgent</li>
    <li>Divergent 3: Allegiant</li>
    <li>The Emoji Movie</li>
    <li class="recommended">The Grand Budapest Hotel</li>
    <li>The Greatest Showman</li>
    <li>The Grinch</li>
    <li>The Grinch that Stole Christmas</li>
    <li>Fantastic Beasts: The Crimes of Grindelwald</li>
    <li>Fantastic Beasts: The Secrets of Dumbledore</li>
    <li>Fantastic Beasts and Where To Find Them</li>
    <li>Frozen</li>
    <li>Harry Potter and the Philosopher's Stone</li>
    <li>Harry Potter and the Chamber of Secrets</li>
    <li>Harry Potter and the Prisoner of Azkaban</li>
    <li>Harry Potter and the Goblet of Fire</li>
    <li>Harry Potter and the Order of the Phoenix</li>
    <li>Harry Potter and the Half-Blood Prince</li>
    <li>Harry Potter and the Deathly Hallows</li>
    <li>Harry Potter and the Deathly Hallows P2</li>
    <li>Hidden Figures</li>
    <li>Hocus Pocus</li>
    <li>Hop</li>
    <li>Hotel Transylvania</li>
    <li>The House with a Clock in it's Walls</li>
    <li>The Hunger Games</li>
    <li>The Hunger Games: Catching Fire</li>
    <li>The Hunger Games: Mockingjay</li>
    <li>The Hunger Games: Mockingjay P2</li>
    <li>Ice Age</li>
    <li>The Incredibles</li>
    <li class="recommended">Indiana Jones 1: Raiders of the Lost Ark</li>
    <li>Indiana Jones 2: Temple of Doom</li>
    <li>Indiana Jones 3: The Last Crusade</li>
    <li>Inglorious Basterds</li>
    <li>Inside Out</li>
    <li>John Wick</li>
    <li>John Wick 2</li>
    <li>John Wick 3: Parabellum</li>
    <li class="recommended">Kill Bill</li>
    <li class="recommended">Kill Bill 2</li>
    <li class="recommended">Knives Out 1</li>
    <li class="recommended">Knives Out 2 (Glass Onion)</li>
    <li class="recommended">Knives Out 3 (Wake Up Dead Man)</li>
    <li>The Lego Movie</li>
    <li>The Lorax</li>
    <li>Matilda</li>
    <li>The Matrix 1</li>
    <li>The Matrix 2: Reloaded</li>
    <li>The Matrix 3: Revolutions</li>
    <li>The Maze Runner</li>
    <li>The Maze Runner: The Scorch Trials</li>
    <li>The Maze Runner: The Death Cure</li>
    <li>Megamind</li>
    <li>Minions</li>
    <li>Monsters University</li>
    <li>Now You See Me 1</li>
    <li>Now You See Me: Now You Don't (2025)</li>
    <li>One Battle After Another</li>
    <li>Pirates of the Caribbean: Curse of the Black Pearl</li>
    <li>Sonic the Hedgehog 1</li>
    <li>Sonic the Hedgehog 2</li>
    <li>Spiderman: Into the Spider-verse</li>
    <li>Suicide Squad</li>
    <li>Suicide Squad 2</li>
    <li>The Super Mario Movie</li>
    <li>The Super Mario Galaxy Movie</li>
    <li class="recommended">The Truman Show</li>
    <li>The Wolf of Wall Street</li>
    <li>Wall-E</li>
    <li>Willy Wonka and the Chocolate Factory</li>
    <li>The Witches</li>
    <li>Wonka</li>
    <li>Wreck-It Ralph</li>
    <li>Zootopia</li>
  </ul>

  <h2>TV</h2>

  <p>This part is lacking as I have watched more.</p>

  <ul>
    <li>The Amazing Digital Circus</li>
    <li class="recommended">Breaking Bad</li>
    <li>Cunk on Britian</li>
    <li class="recommended">Cunk on Earth</li>
    <li>Cunk on Life</li>
    <li>Detentionaire (All)</li>
    <li>Lanfuest Quest</li>
    <li>Meta Runner</li>
    <li>Murder Drones</li>
    <li>The Queen's Gambit</li>
    <li>The Witcher (All)</li>
  </ul>

  <h2>Anime</h2>

  <p>
    Also check my <a href="https://anilist.co/user/geckronome/animelist"
      >AniList</a
    >.
  </p>

  <ul>
    <li><em>7 Seeds</em></li>
    <ul>
      <li>7 Seeds</li>
      <li>7 Seeds Part 2</li>
    </ul>
    <li class="recommended">86 Eighty-Six</li>
    <li>Akame ga Kill</li>
    <li>Akudama Drive</li>
    <li>Angel Beats</li>
    <li>Another</li>
    <li class="recommended"><em>Arcane</em></li>
    <ul>
      <li>Arcane</li>
      <li>Arcane S2</li>
    </ul>
    <li>Arifureta</li>
    <li>Assassination Classroom</li>
    <li><em>Attack on Titan</em></li>
    <ul>
      <li>Attack on Titan S1</li>
      <li>Attack on Titan S2</li>
      <li>Attack on Titan S3</li>
      <li>Attack on Titan S3-2</li>
      <li>Attack on Titan Final</li>
      <li>Attack on Titan Final-2</li>
      <li>Attack on Titan: No Regrets</li>
    </ul>
    <li>Black Butler</li>
    <li class="recommended"><em>Black Lagoon</em></li>
    <ul>
      <li>Black Lagoon S1</li>
      <li>Black Lagoon S2: The Second Barrage</li>
      <li>Black Lagoon AMV: Roberta's Blood Trail</li>
    </ul>
    <li><em>Bungo Stray Dogs</em></li>
    <ul>
      <li>Bungo Stray Dogs</li>
      <li>Bungo Stray Dogs 2</li>
    </ul>
    <li>Burn the Witch</li>
    <li class="recommended"><em>Castlevania</em></li>
    <ul>
      <li>Castlevania S2</li>
      <li>Castlevania S3</li>
      <li>Castlevania S4</li>
      <li>Castlevania: Nocturne</li>
    </ul>
    <li>Chainsaw Man</li>
    <li>Charlotte</li>
    <li><em>Classroom of the Elite</em></li>
    <ul>
      <li>Classroom of the Elite S1</li>
      <li>Classroom of the Elite S2</li>
    </ul>
    <li><em>Code Geass: Lelouch of the Rebellion</em></li>
    <ul>
      <li>Code Geass S1</li>
      <li>Code Geass S2: Lelouch of the Rebellion</li>
      <li>Code Geass: Lelouch of the Resurrection</li>
    </ul>
    <li>Cyberpunk: Edgerunners</li>
    <li>Darling in the FranXX</li>
    <li>Death Parade</li>
    <li>Death Note</li>
    <li>Delicious in Dungeon</li>
    <li>Demon Slayer</li>
    <li>Durarara</li>
    <li>Elfen Lied</li>
    <li><em>Future Diary</em></li>
    <ul>
      <li>Future Diary</li>
      <li>Future Diary: Redial</li>
    </ul>
    <li>Goblin Slayer</li>
    <li>Guilty Crown</li>
    <li class="recommended">Hellsing Ultimate</li>
    <li><em>High School DxD</em></li>
    <ul>
      <li>High School DxD S1</li>
      <li>High School DxD S2</li>
    </ul>
    <li>High School of the Dead</li>
    <li class="recommended"><em>Higurashi</em></li>
    <ul>
      <li>Higurashi: When They Cry</li>
      <li>Higurashi: When They Cry S2 - Kai</li>
      <li>Higurashi: When They Cry AMV: Rei</li>
      <li>Higurashi: When They Cry S3 - Gou</li>
    </ul>
    <li>How a Realist Hero Rebuilt the Kingdom</li>
    <li><em>I'm Standing on a Million Lives</em></li>
    <ul>
      <li>I'm Standing on a Million Lives</li>
      <li>I'm Standing on a Million Lives S2</li>
    </ul>
    <li>Is It Wrong to Try to Pick Up Girls in a Dungeon</li>
    <ul>
      <li>Is It Wrong to Try to Pick Up Girls in a Dungeon S2</li>
      <li>Is It Wrong to Try to Pick Up Girls in a Dungeon S3</li>
    </ul>
    <li><em>Kakegurui</em></li>
    <ul>
      <li>Kakegurui</li>
      <li>Kakegurui xx</li>
    </ul>
    <li>Kill la Kill</li>
    <li>Konosuba</li>
    <li class="recommended"><em>Magi</em></li>
    <ul>
      <li>Magi: The Labyrinth of Magic</li>
      <li>Magi: The Kingdom of Magic</li>
      <li>Magi: Adventure of Sinbad</li>
    </ul>
    <li>Moriarty the Patriot</li>
    <li><em>Mushoku Tensei</em></li>
    <ul>
      <li>Mushoku Tensei</li>
      <li>Mushoku Tensei Part 2</li>
    </ul>
    <li>Neon Genesis Evangelion</li>
    <li>NieR:Automata Ver1.1a</li>
    <li><em>No Game, No Life</em></li>
    <ul>
      <li>No Game, No Life</li>
      <li>No Game, No Life Zero</li>
    </ul>
    <li><em>Overlord</em></li>
    <ul>
      <li>Overlord</li>
      <li>Overlord 2</li>
      <li>Overlord 3</li>
      <li>Overlord 4</li>
    </ul>
    <li><em>Persona</em></li>
    <ul>
      <li>Persona 3 the Movie 1: Spring of Birth</li>
      <li>Persona 3 the Movie 2: Midsummer Knight's Dream</li>
      <li>Persona 4 The Animation</li>
      <li>Persona 5 The Animation</li>
    </ul>
    <li>Platinum End</li>
    <li class="recommended">Puella Magi Madoka Magica</li>
    <li><em>Re:ZERO</em></li>
    <ul>
      <li>Re:ZERO Starting Life in Another World S1</li>
      <li>Re:ZERO Starting Life in Another World S2</li>
    </ul>
    <li><em>Seraph of the End</em></li>
    <ul>
      <li>Seraph of the End: Vampire Reign</li>
      <li>Seraph of the End: Battle in Nagoya</li>
    </ul>
    <li>So I'm a Spider, So What</li>
    <li><em>Spy x Family</em></li>
    <ul>
      <li>Spy x Family Part 1</li>
      <li>Spy x Family Part 2</li>
    </ul>
    <li>Steins;Gate</li>
    <li><em>Sword Art Online</em></li>
    <ul>
      <li>Sword Art Online</li>
      <li>Sword Art Online 2</li>
    </ul>
    <li><em>That Time I Got Reincarnated as a Slime</em></li>
    <ul>
      <li>That Time I Got Reincarnated as a Slime</li>
      <li>That Time I Got Reincarnated as a Slime S2</li>
      <li>That Time I Got Reincarnated as a Slime S2 Part 2</li>
    </ul>
    <li><em>The Case Study of Vanitas</em></li>
    <ul>
      <li>The Case Study of Vanitas</li>
      <li>The Case Study of Vanitas Part 2</li>
    </ul>
    <li>The Devil is a Part-Timer</li>
    <li>The Executioner and Her Way of Life</li>
    <li>The Rising of the Shield Hero</li>
    <li><em>The Seven Deadly Sins</em></li>
    <ul>
      <li>The Seven Deadly Sins</li>
      <li>The Seven Deadly Sins: Imperial Wrath of the Gods</li>
      <li>The Seven Deadly Sins: Revival of the Commandments</li>
      <li>The Seven Deadly Sins: Signs of A Holy War</li>
    </ul>
    <li>The Witcher: Nightmare of the Wolf</li>
    <li>The World Ends With You</li>
    <li>
      The World's Finest Assassin Gets Reincarnated in Another World as an
      Aristocrat
    </li>
    <li class="recommended">Vinland Saga</li>
    <li>Wistoria: Wand and Sword</li>
    <li>Yona of the Dawn</li>
  </ul>
</SubpageLayout>

<style lang="scss">
  .recommended {
    max-width: max-content;
    padding-right: 8px;
    padding-left: 8px;
    border: 2px rgb(236, 227, 176) solid;
    border-radius: 6px;
  }

  .recommended:after {
    content: ' ⭐'
  }
</style>