---
import SubpageLayout from '../../layouts/SubpageLayout.astro';
---

<SubpageLayout
  description="music list"
  heading="Music Collection"
  lastUpdated="2026-06-15"
>
  <h2>Artists</h2>
  <ul>
    <li>Amira Elfeky</li>
    <li>Architects</li>
    <li>Ashnikko</li>
    <li>Bad Omens</li>
    <li>Beyonce</li>
    <li>Bjork</li>
    <li>Bring Me The Horizon</li>
    <li>Cardi B</li>
    <li>Cassyette</li>
    <li>Charli XCX</li>
    <li>Charlotte Sands</li>
    <li>cupcakKe</li>
    <li>Dayseeker</li>
    <li>Doechii</li>
    <li>Dogma</li>
    <li>Doja Cat</li>
    <li>Dua Lipa</li>
    <li>Evanescence</li>
    <li>Fallout Boy</li>
    <li>Fever 333</li>
    <li>Ghost</li>
    <li>Haute & Freddy</li>
    <li>Hayley Williams</li>
    <li>Honey Revenge</li>
    <li>Ice Nine Kills</li>
    <li>Jinjer</li>
    <li>Kendrick Lamar</li>
    <li>Lacuna Coil</li>
    <li>Lady Gaga</li>
    <li>Linkin Park</li>
    <li>Lizzo</li>
    <li>Megan Thee Stallion</li>
    <li>Miley Cyrus</li>
    <li>Moonlight Haze</li>
    <li>Nightwish</li>
    <li>Nocturna</li>
    <li>Nova Twins</li>
    <li>Oceans of Slumber</li>
    <li>Panic at the Disco</li>
    <li>Paramore</li>
    <li>Poets of the Fall</li>
    <li>Poppy</li>
    <li>PVRIS</li>
    <li>RAYE</li>
    <li>Royal & The Serpent</li>
    <li>Royale Lynn</li>
    <li>Sabrina Carpenter</li>
    <li>Sleep Theory</li>
    <li>Sleep Token</li>
    <li>Spiritbox</li>
    <li>Taylor Swift</li>
    <li>Teddy Swims</li>
    <li>TEYA</li>
    <li>Tyler the Creator</li>
    <li>Vana</li>
    <li>Wolf Alice</li>
  </ul>
  <h2><a href="#games">Games</a></h2>
  <ul>
    <li>Bloodstained: Ritual of the Night</li>
    <li>Bomb Rush Cyberfunk</li>
    <li>Celeste</li>
    <p class="list-header">Dead Cells</p>
    <ul>
      <li>Dead Cells</li>
      <li>Dead Cells: Return to Castlevania</li>
    </ul>
    <li>Donkey Kong Country: Tropical Freeze</li>
    <li>Guacamelee! Super Turbo Championship Edition</li>
    <p class="list-header">A Hat in Time</p>
    <ul>
      <li>A Hat In Time</li>
      <li>A Hat in Time B-Side</li>
      <li>A Hat in Time: Seal the Deal + Nyakuza Metro</li>
    </ul>
    <p class="list-header">Hollow Knight</p>
    <ul>
      <li>Hollow Knight</li>
      <li>Hollow Knight: Gods &amp; Nightmares</li>
    </ul>
    <li>Mario Kart 8 Deluxe</li>
    <li>Metal Gear Rising Revengeance Vocal Tracks</li>
    <p class="list-header">NieR</p>
    <ul>
      <li>NieR:Automata</li>
      <li>NieR Replicant ver.1.22474487139...</li>
    </ul>
    <li>Octopath Traveler</li>
    <p class="list-header">Persona</p>
    <ul>
      <li>Persona 3</li>
      <li>Persona 3 Reload</li>
      <li>Persona 4</li>
      <li>Persona 4 The Golden</li>
      <li>Persona 5 The Royal</li>
      <li>Persona 5 Scramble The Phantom Strikers</li>
    </ul>
    <li>Skullgirls</li>
    <p class="list-header">Sonic</p>
    <ul>
      <li>Sonic And The Black Knight (Tales Of Knighthood)</li>
      <li>Sonic And The Secret Rings</li>
      <li>Sonic Colors</li>
      <li>Sonic Mania Plus</li>
      <li>Sonic Rush</li>
      <li>Sonic Unleashed</li>
    </ul>
    <p class="list-header">Super Mario</p>
    <ul>
      <li>Super Mario Galaxy</li>
      <li>Super Mario Galaxy 2</li>
    </ul>
    <li>Yakuza 0</li>
  </ul>
</SubpageLayout>

<style>
  .list-header {
    margin: 0;
    padding-top: 0.2rem;
  }
</style>
