---
import SubpageLayout from '../../layouts/SubpageLayout.astro';
---

<SubpageLayout
  description="list of recommended software"
  heading="Software List"
  lastUpdated="2026-06-15"
>
  <h2><a href="#essentials">Essentials</a></h2>

  <h3><a href="#essentials_operating-system">Operating system</a></h3>

  <p><a href="https://www.microsoft.com/software-download/windows11">Windows 11</a>, and <a href="https://endeavouros.com/">EndeavourOS</a> or <a href="https://fedoraproject.org/">Fedora</a> for Linux.</p>

  <h3><a href="#essentials_web-browser">Web browser</a></h3>

  <p>For the desktop and Android, I recommend Microsoft Edge, or <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>.</p>
  <p>I recommend these following extensions:</p>
  <ul>
    <li><a href="https://ublockorigin.com/">uBlock Origin</a> - This is the only ad/content blocker you should use. If you're not sure on what extensions to use, use this one.</li>
    <li><a href="https://sponsor.ajay.app/">SponsorBlock</a> - Allows you to skip sponsored segments of videos, and more (filler segments, non music sections)</li>
    <li><a href="https://violentmonkey.github.io/">Violentmonkey</a> - Userscript manager, open source version of Tampermonkey and updated version of Greasemonkey.</li>
    <li><a href="https://unhook.app/">Unhook</a> - Remove various annoying features of YouTube.</li>
    <li><a href="https://github.com/amitbl/blocktube">BlockTube</a> - Block YouTube channels from appearing on YouTube.</li>
    <li><a href="https://github.com/iorate/ublacklist">uBlacklist</a> - Blocks sites from appearing in Google search results.</li>
  </ul>

  <h3><a href="#essentials_terminal-emulator">Terminal emulator</a></h3>

  <p><a href="https://konsole.kde.org/">Konsole</a> for Linux, and <a href="https://github.com/microsoft/terminal">Windows Terminal</a> for Windows.</p>

  <h2><a href="#multimedia">Multimedia</a></h2>

  <h3><a href="#multimedia_music-player">Music player</a></h3>

  <p>
    I use Spotify, but <a href="https://www.getmusicbee.com/">MusicBee</a> for Windows, and <a href="https://www.strawberrymusicplayer.org/">Strawberry</a> for Linux (but also available on Windows). Also consider <a href="https://www.foobar2000.org/">foobar2000</a> on Windows.
  </p>

  <h3><a href="#multimedia_video-player">Video player</a></h3>

  <p><a href="https://mpv.io/">mpv</a>. If you need a no-fuss all in one video player, just use <a href="https://www.videolan.org/">VLC</a>. Also consider <a href="https://apps.kde.org/haruna/">Haruna</a> for an mpv frontend.</p>

  <h3><a href="#multimedia_image-editor">Image editor</a></h3>

  <p><a href="https://www.gimp.org/">GIMP</a>. For pixel art, I recommend <a href="https://www.aseprite.org/">Aseprite</a>.</p>

  <h3><a href="#multimedia_digital-art">Digital art</a></h3>

  <p><a href="https://krita.org/en/">Krita</a> and I also recommend <a href="https://opentabletdriver.net/">OpenTabletDriver</a> for Wacom tablets.</p>

  <h2><a href="#other">Other</a></h2>

  <h3><a href="#other_text-editors-ides">Text editors &amp; IDEs</a></h3>

  <p>
    For text editors, I recommend <a href="https://code.visualstudio.com/">VSCode</a>. For Python and .NET I use JetBrains <a href="https://www.jetbrains.com/pycharm/">PyCharm</a> and <a href="https://www.jetbrains.com/rider/">Rider</a> respectively.
  </p>

  <h3><a href="#other_password-manager">Password manager</a></h3>

  <p><a href="https://bitwarden.com/">Bitwarden</a>. If you don't want to rely on Bitwarden's servers or cannot self-host Bitwarden or Vaultwarden, use <a href="https://keepassxc.org/">KeePassXC</a>.</p>

  <h3><a href="#other_bittorrent-clients">BitTorrent clients</a></h3>

  <p><a href="https://www.qbittorrent.org/">qBittorrent</a>. If you use GNOME, check out <a href="https://apps.gnome.org/en-GB/Fragments/">Fragments</a>.</p>

  <h3><a href="#other_office-suites">Office suites</a></h3>

  <p>
    <a href="https://www.libreoffice.org/">LibreOffice</a> should be fine for most people, but you can just use the Google suite, or if you really need the complicated MS stuff then just use 365. If you somehow cannot or do not want to touch MS Office but still need to have maximum
    compatibility with it, try <a href="https://www.onlyoffice.com/">OnlyOffice</a>.
  </p>

  <h3><a href="#other_email">Email</a></h3>

  <p>I use Outlook (web).. For a more "private" email service, try <a href="https://proton.me/">Proton</a>. I don't use an email client, but if you really need an email client I recommend <a href="https://www.thunderbird.net/">Thunderbird</a> as it has gotten a modern refresh recently.</p>

  <h2><a href="#games">Games</a></h2>

  <h3><a href="#games_game-launchers">Launchers</a></h3>

  <p>
    For the most part, I just use <a href="https://store.steampowered.com/">Steam</a>. Also try <a href="https://playnite.link/">Playnite</a>. For Minecraft, I exclusively use
    <a href="https://prismlauncher.org/">Prism Launcher</a>.
  </p>

  <h3><a href="#games_emulators">Emulators</a></h3>

  <ul>
    <li><b>32X</b>: <a href="https://www.retroarch.com/">RetroArch</a> (PicoDrive)</li>
    <li><b>3DS</b>: <a href="https://azahar-emu.org/">Azahar Emulator</a> - A contuination of the now shut-down Citra emulator.</li>
    <li><b>Dreamcast</b>: <a href="https://github.com/flyinghead/flycast">Flycast</a></li>
    <li><b>DS</b>/<b>i</b>: <a href="https://www.retroarch.com/">RetroArch</a> (melonDS) or <a href="http://melonds.kuribo64.net/">melonDS</a> (Standalone)</li>
    <li><b>GameCube</b> / <b>Wii</b>: <a href="https://dolphin-emu.org/">Dolphin</a></li>
    <li><b>Game Boy</b> / <b>Color</b>: <a href="https://www.retroarch.com/">RetroArch</a> (SameBoy or Gambatte)</li>
    <li><b>Game Boy Advance</b>: <a href="https://www.retroarch.com/">RetroArch</a> (mGBA) or <a href="https://mgba.io/">mGBA</a> (Standalone)</li>
    <li><b>Genesis/Master System/Game Gear/Sega CD</b>: <a href="https://www.retroarch.com/">RetroArch</a> (GenesisPlusGX)</li>
    <li><b>N64</b>: <a href="https://www.retroarch.com/">RetroArch</a> (Mupen64), or <a href="https://github.com/Rosalie241/RMG">Rosalie's Mupen GUI</a>, or <a href="https://parallel-launcher.ca/">Parallel Launcher</a> for ROM hacks</li>
    <li><b>NES</b>: <a href="https://www.retroarch.com/">RetroArch</a> (Mesen)</li>
    <li><b>PS1</b>: <a href="https://www.duckstation.org/">DuckStation</a></li>
    <li><b>PS2</b>: <a href="https://www.pcsx2.net/">PCSX2</a></li>
    <li><b>PS3</b>: <a href="https://www.rpcs3.net/">RPCS3</a></li>
    <li><b>PSP</b>: <a href="https://www.ppsspp.org/">PPSSPP</a></li>
    <li><b>PSVita</b>: <a href="https://vita3k.org/">Vita3K</a></li>
    <li><b>Saturn</b>: <a href="https://www.retroarch.com/">RetroArch</a> (Beetle Saturn)</li>
    <li><b>SNES</b>: <a href="https://www.retroarch.com/">RetroArch</a> (Snes9x)</li>
    <li><b>Switch</b>: <a href="https://git.ryujinx.app/ryubing/ryujinx">Ryubing</a> - Contuination of Ryujinx. There is also <a href="https://git.eden-emu.dev/eden-emu/eden">Eden</a> for a continuation of Yuzu. Use Ryubing first, then use Eden if there are any issues.</li>
    <li><b>Wii U</b>: <a href="https://cemu.info/">Cemu</a></li>
    <li>
      <b>Xbox</b>: <a href="https://xemu.app/">Xemu</a>
    </li>
    <li><b>Xbox 360</b>: <a href="http://xenia.jp/">Xenia</a> or
      <a href="https://github.com/xenia-canary/xenia-canary">Xenia Canary</a>. Use Xenia first as it should support what you need.</li>
  </ul>
</SubpageLayout>
