---
import SubpageLayout from '../layouts/SubpageLayout.astro';
---

<SubpageLayout
  description="who am i?"
  heading="About Me"
  lastUpdated="2026-06-16"
>
  <p>Hello! I am <b>geckronome</b>, and this is my little corner of the web.</p>

  <p>
    I enjoy computers, programming, and hobby driven development. Most of my
    projects exist simply because I thought they would be interesting or fun to
    make. Sometimes they are useful. Most of the time they are strange weird
    experiments that are useless and probably only make sense to me.
  </p>

  <p>Here is a quick list of what I like:</p>
  <ul>
    <li>Black tea</li>
    <li>Satays</li>
    <li>Soul music</li>
    <li>Rock music</li>
    <li>Mystery movies</li>
    <li>Retro games</li>
    <li>Watching and writing about games</li>
  </ul>

  <p>
    Don't expect this website to be anything but silly things, as it is not
    serious and that is what I like writing about.
  </p>

  <p>The web is more interesting when it is little personal websites.</p>
</SubpageLayout>
