---
import SubpageLayout from '../layouts/SubpageLayout.astro';
---

<SubpageLayout
  description="who is geckronome?"
  heading="About Me"
  lastUpdated="2025-03-01"
>
  <p>Hello! I am <b>geckronome</b>, and I'm just another person on the web.</p>
</SubpageLayout>
