@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

html {
  background-color: #e6e9ef;
  scrollbar-color: #de8f8f, #8db9cb;
}
body {
  background-color: #eff1f5;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  box-shadow: 0 2px 18px #acb0be;
  color: #2d3042;
  font-family: "Comfortaa", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.2px;
  line-height: 1.2em;
  margin: auto;
  max-width: 75%;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  padding-top: 0.5em;
}
@media only screen and (max-width: 768px) {
  body {
    max-width: 95%;
  }
}
h1 {
  background-color: #e6e9ef;
  border-radius: 0.4em;
  box-shadow: 0 1px 3px #acb0be;
  color: #f66571;
  font-size: 1.75em;
  font-weight: bold;
  margin: auto;
  max-width: 85%;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  text-align: center;
}
h2 {
  color: #de8d1c;
  padding-bottom: 0.2em;
  border-bottom: 2px solid #acb0be;
}
h3 {
  color: #4eb337;
}
a {
  color: #1e66f5;
}
a:visited {
  color: #8839ef;
}
a:hover {
  color: #81a4e9;
}
a:visited:hover {
  color: #c0a0eb;
}
#homepage-link {
  text-decoration: none;
  font-family: monospace;
  font-size: 1.25em;
  text-shadow: 0px 3px 6px #8da4ac;
  display: block;
  text-align: center;
}
#homepage-link:visited {
  color: #1e66f5;
}
#homepage-link:visited:hover {
  color: #81a4e9;
}
pre,
code {
  background-color: #e7e8eb;
  padding-left: 6px;
  border-radius: 1em;
  overflow-x: scroll;
}
pre {
  box-shadow: 0 2px 6px #acb0be;
  padding-top: 1em;
  padding-bottom: 1em;
}
b {
  font-weight: bold;
}
pre > code {
  padding: initial;
}
#date {
  font-family: monospace;
  text-align: center;
}
#date-created::before {
  content: 'Date created: ';
  font-weight: bold;
  font-size: 1.1em;
}
#date-updated::before {
  content: 'Date updated: ';
  font-weight: bold;
  font-size: 1.1em;
}
#date-updated::after {
  content: ' | ';
}
#start-text {
  font-style: italic;
  font-size: 0.9em;
  text-align: center;
  padding: 0.6em;
}
